In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
# pd.set_option('display.max_rows', None)

In [3]:
all_dfs = []
sales_data_dir = './output_sales_data'
for file in os.listdir(sales_data_dir):
    print('CURRENT FILE:', file)
    all_dfs.append(pd.read_csv(os.path.join(sales_data_dir, file)))
df = pd.concat(all_dfs, ignore_index = True)
print('All dfs combined')

CURRENT FILE: Jun-20.csv
CURRENT FILE: Jan-25.csv
CURRENT FILE: Jul-19.csv
CURRENT FILE: Mar-25.csv
CURRENT FILE: Mar-24.csv
CURRENT FILE: Jul-24.csv
CURRENT FILE: Jan-24.csv
CURRENT FILE: Jun-21.csv
CURRENT FILE: Jun-23.csv
CURRENT FILE: Jun-22.csv
CURRENT FILE: Jan-23.csv
CURRENT FILE: Jul-23.csv
CURRENT FILE: Mar-23.csv
CURRENT FILE: Mar-22.csv
CURRENT FILE: Jul-22.csv
CURRENT FILE: Jan-22.csv
CURRENT FILE: Jun-19.csv
CURRENT FILE: Jan-20.csv
CURRENT FILE: Jul-20.csv
CURRENT FILE: Mar-20.csv
CURRENT FILE: Mar-21.csv
CURRENT FILE: Jul-21.csv
CURRENT FILE: Jan-21.csv
CURRENT FILE: Jun-24.csv
CURRENT FILE: Nov-19.csv
CURRENT FILE: Nov-24.csv
CURRENT FILE: Nov-20.csv
CURRENT FILE: Nov-21.csv
CURRENT FILE: Nov-23.csv
CURRENT FILE: Nov-22.csv
CURRENT FILE: Apr-21.csv
CURRENT FILE: Feb-21.csv
CURRENT FILE: Oct-24.csv
CURRENT FILE: Oct-19.csv
CURRENT FILE: Feb-20.csv
CURRENT FILE: Apr-22.csv
CURRENT FILE: Feb-22.csv
CURRENT FILE: Dec-19.csv
CURRENT FILE: Dec-24.csv
CURRENT FILE: Feb-23.csv
CURRENT FILE: Apr-23.csv
CURRENT FILE: Oct-22.csv
CURRENT FILE: Dec-20.csv
CURRENT FILE: Dec-21.csv
CURRENT FILE: Oct-23.csv
CURRENT FILE: Apr-24.csv
CURRENT FILE: Feb-24.csv
CURRENT FILE: Oct-21.csv
CURRENT FILE: Dec-23.csv
CURRENT FILE: Dec-22.csv
CURRENT FILE: Oct-20.csv
CURRENT FILE: Feb-25.csv
CURRENT FILE: Apr-19.csv
CURRENT FILE: May-19.csv
CURRENT FILE: Sep-19.csv
CURRENT FILE: Sep-24.csv
CURRENT FILE: May-24.csv
CURRENT FILE: Aug-19.csv
CURRENT FILE: Aug-24.csv
CURRENT FILE: May-23.csv
CURRENT FILE: Sep-23.csv
CURRENT FILE: Aug-20.csv
CURRENT FILE: Aug-21.csv
CURRENT FILE: Sep-22.csv
CURRENT FILE: May-22.csv
CURRENT FILE: May-20.csv
CURRENT FILE: Sep-20.csv
CURRENT FILE: Aug-23.csv
CURRENT FILE: Aug-22.csv
CURRENT FILE: Sep-21.csv
CURRENT FILE: May-21.csv
All dfs combined

In [4]:
df.head()

     date company      model monthly_sales total_sales
0  Jun-20    Fiat    COMPASS         246.0       246.0
1  Jun-20    Fiat   WRANGLER          10.0        10.0
2  Jun-20    Ford       Figo         174.0       174.0
3  Jun-20    Ford  FREESTYLE         506.0       506.0
4  Jun-20    Ford     Aspire         381.0       381.0

In [5]:
df.describe()

          date company    model monthly_sales total_sales
count     5586    5586     5586          5586        5586
unique      71      16      151           960         960
top     Oct-19  Maruti  COMPASS          1.5K        1.5K
freq        91    1055       71            82          82

In [6]:
df.isna().sum()

date             0
company          0
model            0
monthly_sales    0
total_sales      0
dtype: int64

In [7]:
df.company.unique()

array(['Fiat', 'Ford', 'Honda', 'Hyundai', 'Kia', 'Mahindra', 'Maruti',
       'Morris Garage', 'Nissan', 'Renault', 'Skoda', 'Tata', 'Toyota',
       'Volkswagen', 'Grand Total', 'Citroen'], dtype=object)

In [8]:
for company, company_df in df.groupby('company'):
    print('COMPANY_NAME:', company)
    print(df.loc[df['company'] == company]['model'].unique().tolist(), '\n')

COMPANY_NAME: Citroen
['C3', 'Ë C3', 'C3 Aircross', 'Basalt', 'C5 Aircross']

COMPANY_NAME: Fiat
['COMPASS', 'WRANGLER', 'Meridian', 'Linea', 'Grand Cherokee', 'Punto + Evo + Avventura', 'Abarth']

COMPANY_NAME: Ford
['Figo', 'FREESTYLE', 'Aspire', 'Ecosport', 'Endeavour', 'Mustang']

COMPANY_NAME: Grand Total
['Grand Total']

COMPANY_NAME: Honda
['Amaze', 'City', 'WRV', 'Civic', 'CR-V', 'ELEVATE', 'Jazz', 'BR-V']

COMPANY_NAME: Hyundai
['Santro', 'Grand i10', 'i20 Elite', 'Xcent/Aura', 'Venue', 'Creta', 'Verna', 'Elantra', 'Tucson', 'KONA', 'EXTER', 'ALCAZAR', 'IONIQ 5']

COMPANY_NAME: Kia
['SELTOS', 'CARNIVAL', 'SONET', 'CARENS', 'SYROS', 'EV6', 'EV9']

COMPANY_NAME: Mahindra
['Verito', 'KUV 100', 'Bolero', 'XUV 300', 'Scorpio', 'XUV 500', 'XUV 700', 'Thar', 'XUV 400', 'BE6', 'XE 9e', 'Marazzo', 'Alturas G4', 'Xylo', 'TUV 300', 'BE 6', 'XEV 9e', 'NuvoSport']

COMPANY_NAME: Maruti
['Alto', 'Eeco', 'S Presso', 'Wagon R', 'IGNIS', 'Ertiga', 'XL6', 'CELERIO', 'Vitara Brezza', 'Swift', 'Baleno', 'DZIRE', 'Ciaz', 'Gypsy', 'FRONX', 'JIMNY', 'INVICTO', 'Grand Vitara', 'S-Cross', 'Omni']

COMPANY_NAME: Morris Garage
['Hector', 'ZS EV', 'Gloster', 'Astor', 'COMET', 'WINDSOR']

COMPANY_NAME: Nissan
['Redi-GO', 'GO', 'GO+', 'KICKS', 'MAGNITE', 'Micra', 'Sunny', 'Terrano', 'X-Trail']

COMPANY_NAME: Renault
['KWID', 'TRIBER', 'Duster', 'KIGER', 'Lodgy', 'CAPTUR']

COMPANY_NAME: Skoda
['Octavia', 'Rapid', 'Karoq', 'SUPERB', 'KYLAQ', 'KUSHAQ', 'SLAVIA', 'KODIAQ']

COMPANY_NAME: Tata
['Tiago', 'ALTROZ', 'TIGOR', 'NEXON', 'HARRIER', 'PUNCH', 'SAFARI', 'CURVV', 'Bolt', 'Zest', 'Safari+Storme', 'HEXA']

COMPANY_NAME: Toyota
['Innova + Hycross', 'YARIS', 'GLANZA', 'Fortuner', 'Camry', 'VELLFIRE', 'Taisor', 'RUMION', 'HYRYDER', 'HILUX', 'Liva + Cross', 'Etios', 'Corolla', 'Prius', 'Prado', 'Landcruiser', 'URBAN CRUISER']

COMPANY_NAME: Volkswagen
['Polo', 'Vento', 'VIRTUS', 'TAIGUN', 'TIGUAN', 'AMEO', 'T-ROC', 'Passat']

Converting the 'Company' and 'Model' columns to UPPERCASE

In [9]:
df.apply(lambda col: print(col.name, '-', col.dtype))

date - object
company - object
model - object
monthly_sales - object
total_sales - object

date             None
company          None
model            None
monthly_sales    None
total_sales      None
dtype: object

In [10]:
df = df.apply(lambda col: col.str.upper() if col.name in ['company', 'model'] else col)

Some model names are not correct or the same model is represented n different ways, so they are needed to be fixed.

In [11]:
model_name_corrected = np.array([
    ["Mahindra", "BE6", "BE 6"],
    ["Mahindra", "XE 9e", "XEV 9e"],
    ["Tata", "Safari+Storme", "Safari Storme"],
    ["Toyota", "Innova + Hycross", "Innova"]
])

In [12]:
for car_details in model_name_corrected:
    df.loc[(df['company'] == car_details[0]) & (df['model'] == car_details[1]), 'model'] = str(car_details[2])

'Fiat' has never produced a car named 'Wrangler', 'Grand Cherokee', 'Compass', 'Meridian', rather all these 4 cars are produced by 'Jeep'
Company will be changed to Jeep.

In [13]:
df.loc[(df['company'] == 'Fiat') & ((df['model'] == 'WRANGLER') | (df['model'] == 'Meridian') | (df['model'] == 'COMPASS') | (df['model'] == 'Grand Cherokee')), 'company'] = 'Jeep'

In [14]:
# again printing the company names and model names
for company, company_df in df.groupby('company'):
    print('COMPANY_NAME:', company)
    print(df.loc[df['company'] == company]['model'].unique().tolist(), '\n')

COMPANY_NAME: CITROEN
['C3', 'Ë C3', 'C3 AIRCROSS', 'BASALT', 'C5 AIRCROSS']

COMPANY_NAME: FIAT
['COMPASS', 'WRANGLER', 'MERIDIAN', 'LINEA', 'GRAND CHEROKEE', 'PUNTO + EVO + AVVENTURA', 'ABARTH']

COMPANY_NAME: FORD
['FIGO', 'FREESTYLE', 'ASPIRE', 'ECOSPORT', 'ENDEAVOUR', 'MUSTANG']

COMPANY_NAME: GRAND TOTAL
['GRAND TOTAL']

COMPANY_NAME: HONDA
['AMAZE', 'CITY', 'WRV', 'CIVIC', 'CR-V', 'ELEVATE', 'JAZZ', 'BR-V']

COMPANY_NAME: HYUNDAI
['SANTRO', 'GRAND I10', 'I20 ELITE', 'XCENT/AURA', 'VENUE', 'CRETA', 'VERNA', 'ELANTRA', 'TUCSON', 'KONA', 'EXTER', 'ALCAZAR', 'IONIQ 5']

COMPANY_NAME: KIA
['SELTOS', 'CARNIVAL', 'SONET', 'CARENS', 'SYROS', 'EV6', 'EV9']

COMPANY_NAME: MAHINDRA
['VERITO', 'KUV 100', 'BOLERO', 'XUV 300', 'SCORPIO', 'XUV 500', 'XUV 700', 'THAR', 'XUV 400', 'BE6', 'XE 9E', 'MARAZZO', 'ALTURAS G4', 'XYLO', 'TUV 300', 'BE 6', 'XEV 9E', 'NUVOSPORT']

COMPANY_NAME: MARUTI
['ALTO', 'EECO', 'S PRESSO', 'WAGON R', 'IGNIS', 'ERTIGA', 'XL6', 'CELERIO', 'VITARA BREZZA', 'SWIFT', 'BALENO', 'DZIRE', 'CIAZ', 'GYPSY', 'FRONX', 'JIMNY', 'INVICTO', 'GRAND VITARA', 'S-CROSS', 'OMNI']

COMPANY_NAME: MORRIS GARAGE
['HECTOR', 'ZS EV', 'GLOSTER', 'ASTOR', 'COMET', 'WINDSOR']

COMPANY_NAME: NISSAN
['REDI-GO', 'GO', 'GO+', 'KICKS', 'MAGNITE', 'MICRA', 'SUNNY', 'TERRANO', 'X-TRAIL']

COMPANY_NAME: RENAULT
['KWID', 'TRIBER', 'DUSTER', 'KIGER', 'LODGY', 'CAPTUR']

COMPANY_NAME: SKODA
['OCTAVIA', 'RAPID', 'KAROQ', 'SUPERB', 'KYLAQ', 'KUSHAQ', 'SLAVIA', 'KODIAQ']

COMPANY_NAME: TATA
['TIAGO', 'ALTROZ', 'TIGOR', 'NEXON', 'HARRIER', 'PUNCH', 'SAFARI', 'CURVV', 'BOLT', 'ZEST', 'SAFARI+STORME', 'HEXA']

COMPANY_NAME: TOYOTA
['INNOVA + HYCROSS', 'YARIS', 'GLANZA', 'FORTUNER', 'CAMRY', 'VELLFIRE', 'TAISOR', 'RUMION', 'HYRYDER', 'HILUX', 'LIVA + CROSS', 'ETIOS', 'COROLLA', 'PRIUS', 'PRADO', 'LANDCRUISER', 'URBAN CRUISER']

COMPANY_NAME: VOLKSWAGEN
['POLO', 'VENTO', 'VIRTUS', 'TAIGUN', 'TIGUAN', 'AMEO', 'T-ROC', 'PASSAT']

Filtering the SUVs, MPVs and SUV Coupes

In [15]:
target_vehicles = {
    "CITROEN": ['C3', 'Ë C3', 'C3 Aircross', 'Basalt', 'C5 Aircross'], 
    "FORD": ['ECOSPORT', 'ENDEAVOUR'],
    "HONDA": ['WRV', 'CR-V', 'ELEVATE', 'BR-V'],
    "HYUNDAI": ['VENUE', 'CRETA', 'TUCSON', 'KONA', 'EXTER', 'ALCAZAR', 'IONIQ 5'],
    "JEEP": ['COMPASS', 'WRANGLER', 'MERIDIAN', 'GRAND CHEROKEE'],
    "KIA": ['SELTOS', 'CARNIVAL', 'SONET', 'CARENS', 'SYROS', 'EV6', 'EV9'],
    "MAHINDRA" : ['KUV 100', 'BOLERO', 'XUV 300', 'SCORPIO', 'XUV 500', 'XUV 700', 'THAR', 'XUV 400', 'BE 6', 'XEV 9E', 'MARAZZO', 'ALTURAS G4', 'XYLO', 'TUV 300', 'NUVOSPORT'],
    "MARUTI" : ['S PRESSO', 'ERTIGA', 'XL6','VITARA BREZZA', 'GYPSY', 'FRONX', 'JIMNY', 'INVICTO', 'GRAND VITARA', 'S-CROSS'],
    "MORRIS GARAGE" : ['HECTOR', 'ZS EV', 'GLOSTER', 'ASTOR'],
    "NISSAN" : ['GO+', 'KICKS', 'MAGNITE', 'TERRANO', 'X-TRAIL'],
    "RENAULT" : ['TRIBER', 'DUSTER', 'KIGER', 'LODGY', 'CAPTUR'],
    "SKODA" : ['KAROQ', 'KYLAQ', 'KUSHAQ', 'KODIAQ'], 
    "TATA" : ['NEXON', 'HARRIER', 'PUNCH', 'SAFARI', 'CURVV', 'SAFARI STORME', 'HEXA'],
    "TOYOTA" : ['INNOVA', 'FORTUNER', 'TAISOR', 'RUMION', 'HYRYDER', 'PRADO', 'LANDCRUISER', 'URBAN CRUISER'],
    "VOLKSWAGEN" : ['TAIGUN', 'TIGUAN', 'T-ROC']
}

In [16]:
# new empty df with same structure
dftv = pd.DataFrame(columns = df.columns.tolist())

In [17]:
for company in target_vehicles.keys():
    for model in target_vehicles[company]:
        dftv = pd.concat([dftv, df.loc[(df['company'] == company) & (df['model'] == model)]], ignore_index = True)

In [18]:
# dropping 'monthly_sales' column
dftv.drop('monthly_sales', axis=1, inplace=True)

In [19]:
dftv.rename(columns={'total_sales': 'sales'}, inplace=True)

In [20]:
dftv.describe()

          date   company          model sales
count     2938      2938           2938  2938
unique      71        14             81   697
top     Mar-25  MAHINDRA  VITARA BREZZA  2.1K
freq        55       541             71    55

In [27]:
dftv.head()

     date  company model  sales
0  Jan-25  CITROEN    C3  242.0
1  Mar-25  CITROEN    C3  120.0
2  Mar-24  CITROEN    C3  265.0
3  Jul-24  CITROEN    C3   90.0
4  Jan-24  CITROEN    C3  234.0

As we have finally got the chunk of data which we are actually going to use for our analysis further, we can save a copy of of this data in a csv file.

In [22]:
dftv.to_csv('target_vehicles.csv')

In [49]:
# checking the data types of each row
dftv.apply(lambda col: print(col.name, '-', col.dtype))

date - object
company - object
model - object
sales - object

date       None
company    None
model      None
sales      None
dtype: object

In [54]:
dftv['sales'].str.contains(r'[^a-zA-Z0-9]', regex=True).unique()

array([ True])

In [55]:
dftv['sales'] = dftv['sales'].str.replace('K', '', regex=False)

In [56]:
dftv['sales'] = dftv['sales'].astype(float)

In [57]:
dftv.groupby('company')['sales'].sum()

company
CITROEN          15607.7
FORD             17359.9
HONDA            18885.8
HYUNDAI          19978.8
KIA              15849.5
MAHINDRA         52610.2
MARUTI           28631.2
MORRIS GARAGE    52811.1
NISSAN           10613.8
RENAULT          28445.6
SKODA             9221.9
TATA             12631.7
TOYOTA           14482.9
VOLKSWAGEN        8264.2
Name: sales, dtype: float64

In [61]:
# converting 'date' column data type into 'datetime64[ns]' 
# pd.to_datetime(df['date'], format='%m-%Y')
dftv['date'] = pd.to_datetime(dftv['date'], format='%b-%y')

In [62]:
dftv.apply(lambda col: print(col.name, '-', col.dtype))

date - datetime64[ns]
company - object
model - object
sales - float64

date       None
company    None
model      None
sales      None
dtype: object

In [72]:
dftv = dftv.sort_values(by='date', ascending=True)

In [73]:
dftv.head()

           date company      model  sales
209  2019-04-01   HONDA       BR-V  276.0
106  2019-04-01    FORD  ENDEAVOUR  498.0
2783 2019-04-01  TOYOTA      PRADO    1.0
2106 2019-04-01  NISSAN    TERRANO   60.0
2518 2019-04-01    TATA    HARRIER    2.1